.list{
    padding: 20px;
}

.list__h1{
    width: 50%;
    padding:10px 10px 10px 20px;
    border-radius: 8px;
    margin:10px 0;
    background-color: #495C83;
    color: #C8B6E2;
    font-size: 17px;
    font-weight: bold;
}

.list__container{
    display: flex;
    padding: 20px;
    border: 3px dashed #7A86B6;
    border-radius: 5px;
    flex-wrap: wrap;
}

.item{
    background-color: #C8B6E2;
    margin: 20px;
    flex-basis: 50%;
    flex-grow: 4;
    padding: 10px;
}

.item__h2{
    color: #495C83;
}

.item__p{
    color: rgba(0, 0, 0, 0.4);
    font-weight: bold;
}

.item__button-delete,
.item__button-archive{
    padding: 10px;
    border-radius: 8px;
    margin:10px 5px;
    float: right;
    background-color: #495C83;
    border: none;
    outline: none;
    color: whitesmoke;
    font-weight: bold;
}

